.CourseCard {
  margin: 35px;
}

.CourseCard .controls {
  margin: 10px 0;
}

.CourseCard .tags {
  margin: 20px 0;
}

.CourseCard .image {
  max-width: 450px;
}

.CourseCard .author {
  padding: 20px;
  background-color: lightgoldenrodyellow;
}

