/* ===== GALLERY ===== */
.item
{
    box-sizing: border-box;
    padding: 0;
    margin: 20px 0;
    min-height: 100px;
}

.course-name
{
    margin: 0;
    padding: 15px 15px;
}

.wrap-img
{
    border: 2px solid #ddd;
    border-radius: 4px;
}

.btn-more
{
    float: right;
}

/* ===== Galler Image effect === */
.course-heading-img
{
    padding: 0;
}

.course-item-img figure
{
    position: relative;
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.course-item-img figure img
{
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.course-item-img figure figcaption
{
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.course-item-img figure figcaption::before,
.course-item-img figure figcaption::after
{
    pointer-events: none;
}

.course-item-img figure figcaption,
.course-item-img figure figcaption > a
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.course-item-img figure figcaption > a
{
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.course-item-img figure h2
{
    word-spacing: -0.15em;
    font-weight: 300;
}

.course-item-img figure h2 span
{
    font-weight: 800;
}

.course-item-img figure h2,
.course-item-img figure p
{
    margin: 0;
}

.course-item-img figure p
{
    letter-spacing: 1px;
    margin-top: 20%;
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar
{
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

figure.effect-oscar img
{
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption
{
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.2);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before
{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2
{
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p
{
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2
{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p
{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption
{
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img
{
    opacity: 0.4;
}

/* ====== Gallery effect end ==== */
.course-info-link
{
    display: block;
    width: 100%;
    position: relative;
    background: #5bc0de;
}

.course-details
{
    display: none;
    position: absolute;
    padding: 10px 5px;
    color: white;
    margin-left: 45px;
    margin-top: 45px;
    background: #5bc0de;
    border: 2px solid white;
    border-radius: 4px;
}
