<html lang="ru" ng-app="webCourses">
<head>
    <meta charset="UTF-8">
    <title>Web Dev Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css libs (begin) -->
    <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- css libs (end) -->

    <!-- js libs (begin) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- js libs (end) -->

    <link rel="stylesheet" href="css/build.css">
    <script src="js/build.js"></script>
</head>
<body>
