<html lang="ru" ng-app="webCourses">
    <head>
        <meta charset="UTF-8">
        <title>Web Dev Courses</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css libs (begin) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <!-- css libs (end) -->

        <!-- js libs (begin) -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <!-- js libs (end) -->

        <link rel="stylesheet" href="css/build.css">
        <link rel="icon" href="/favicon.ico?v=1.1"> 
        <script src="js/build.js"></script>
    </head>
    <body>
