<header>
    <div class="container-fluid">

        <!--===== FORM =====-->
        <div class="col-md-3">
            <div class="search">
                <form action="TESTTESTTEST.JS">
                    <input id="search-me" type="search" placeholder="Поиск...">
                    <label for="search-me">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                </form>
            </div>
        </div>

        <!--===== LOGO =====-->
        <div class="col-lg-4 col-md-5">
            <div class="logo">
                <a href="#">
                    <img src="images/freecodecamp-logo.png" alt="FreeCodeCamp Saint-Petersburg">
                </a>
            </div>
        </div>

        <!--===== MENU =====-->
        <div class="col-lg-push-1 col-md-4">
            <div class="nav">
                <ul>
                    <li class="home"><a href="#">Home</a></li>
                    <li class="tutorials"><a href="#">Courses</a></li>
                    <li class="about"><a href="#">About</a></li>
                    <li class="contact"><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- ==================== FILTER ==================== -->
<div class="filter">
    <div class="container category">
        <div class="row">
            <div class="col-xs-3">
                <h2>Язык</h2>
                <button type="button" class="btn btn-primary btn-xs">Русский</button>
                <button type="button" class="btn btn-primary btn-xs">Английский</button>
            </div>
            <div class="col-xs-3">
                <h2>Курс</h2>
                <button type="button" class="btn btn-primary btn-xs">JS</button>
                <button type="button" class="btn btn-primary btn-xs">HTML</button>
                <button type="button" class="btn btn-primary btn-xs">CSS</button><br>
                <button type="button" class="btn btn-primary btn-xs">Phyton</button>
                <button type="button" class="btn btn-primary btn-xs">C++</button>
                <button type="button" class="btn btn-primary btn-xs">Java</button>
            </div>
            <div class="col-xs-3">
                <h2>Уровень</h2>
                <button type="button" class="btn btn-primary btn-xs">Первый</button>
                <button type="button" class="btn btn-primary btn-xs">Второй</button>
                <button type="button" class="btn btn-primary btn-xs">Третий</button><br>
                <button type="button" class="btn btn-primary btn-xs">Четвертый</button>
                <button type="button" class="btn btn-primary btn-xs">Пятый</button>
                <button type="button" class="btn btn-primary btn-xs">Шестой</button>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</div>
<hr>
