
<!-- ==================== FOOTER ==================== -->
<footer>
    <div class="container">
        <!-- ===== CONTACTS ===== -->
        <div class="social">
            <a href="#"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>
<script src="js/app.js" charset="utf-8"></script>
</body>
</html>
