<!-- ==================== FOOTER ==================== -->

<div class="footer-tag">Сделано с <i class="fa fa-heart" aria-hidden="true"></i> людьми из <a href="#">FCC Saint-Petersburg</a></div>

</body>
</html>
