<header>
    <div class="nav">
        <ul>
            <li class="home">
                <a href="/">Home</a>
            </li>
            <li class="tutorials">
                <a href="#">Catalog</a>
            </li>
            <% if (!user) { %>
                <li class="login">
                    <a href="/auth/github">Log In</a>
                </li>
            <% } else { %>
                <li class="profile">
                    <a href="#"><%= user.github.name %></a>
                </li>
                <li class="logout">
                    <a href="/logout">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            <% } %>
        </ul>
    </div>

</header>
