<%- include base -%>
<%- include filter -%>

<!-- ГАЛЕРЕЯ КУРСОВ -->
<section class="gallery">
    <div class="container">
        <div class="row">
            <!-- ГЕНЕРАТОР КАРТОЧЕК -->
            <div ng-controller="cardCtrl">
                <input ng-model="filter" type="text" placeholder="Начните поиск здесь. Например — 'Javascript'. Или ищите по названию курса.">
                <div ng-repeat="course in coursesArray | filter: filter | orderBy: tag">
                    <card></card>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include footer -%>
