<%- include base -%>
<%- include filter -%>
<!-- ==================== GALLERY ==================== -->
<section class="gallery">
    <div class="container">
        <div class="row">

            <!-- ===== ROW 1 ===== -->
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <a href=""><img src="images/development-bg.png" alt="course"></a>
                    <h2 class="course-name">Course Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nobis excepturi omnis neque reprehenderit libero.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Praesentium voluptas earum possimus fuga qui, optio excepturi distinctio error, cumque nesciunt magnam illum suscipit.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Eum minus error, repudiandae animi. Quos ex eum accusamus nulla beatae nobis consequatur quae quia.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Mollitia aspernatur hic dolore voluptatem nostrum odio animi necessitatibus asperiores? Iste laudantium hic iure quidem.</p>
                </div>
            </div>

            <!-- ===== ROW 2 ===== -->
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Ullam aliquam velit in dolorum cum, doloribus, maiores sint rerum tempore at suscipit laborum, sunt?</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Quaerat dolorem consequatur, pariatur magni accusamus minima assumenda beatae, vitae ratione tempora illo, reiciendis autem.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Aut, porro asperiores cum aspernatur obcaecati tempora sit, quasi illo aliquid adipisci dicta, iure deserunt!</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Hic velit distinctio dignissimos possimus, qui non odit voluptates, quae tenetur obcaecati atque, nostrum quas!</p>
                </div>
            </div>

            <!-- ===== ROW 3 ===== -->
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <img src="images/development-bg.png" alt="course">
                    <h2 class="course-name">Course Name</h2>
                    <p>Nostrum eos exercitationem nemo cumque tempore voluptates debitis, quae, similique obcaecati, unde adipisci mollitia eum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include footer -%>
