<%- include base -%>
<%- include filter -%>

<!-- ГАЛЕРЕЯ КУРСОВ -->
<section class="gallery">
    <div class="container">
        <div class="row">
            <!-- ГЕНЕРАТОР КАРТОЧЕК -->
            <div ng-controller="cardCtrl">
                <div ng-repeat="course in coursesArray">
                    <card></card>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include footer -%>
