<%- include base -%>
    <%- include header -%>
        <!-- ГАЛЕРЕЯ КУРСОВ -->

        <section class="gallery" ng-controller="cardCtrl">
            <!-- ПОИСК. Создана модель данных 'filter' которая принимает в себя введенные данные -->
            <div class="search-wrap">
                <div class="tag">W-D-C</div>
                <div class="tag-low">your ultimate learning tool</div>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input autofocus="autofocus" class="main-search" ng-model="filter" type="text" placeholder="start typing">
                <div class="search-message">or use our  <a href="#">marevelous filter</a> to get what you need</div>
            </div>
            <div class="container" ng-show="filter.length > 0">
                <div class="row">
                    <!-- ГЕНЕРАТОР КАРТОЧЕК. Фильтр читает переменную модели filter(да, я не креативен...) и фильтрует в соответствии с данными этой модели -->
                    <div ng-repeat="course in coursesArray | filter: filter | orderBy: tag">
                        <card></card>
                    </div>
                </div>
            </div>
        </section>

        <%- include footer -%>
