<%- include base -%>
<%- include header -%>
<form action="/course/add" method="POST">
    <input type="text" name="card.link" value="" placeholder="link">
    <input type="text" name="card.title" value="" placeholder="title">
    <input type="submit" name="name" value="Submit">

</form>

<%- include footer -%>
