<%- include base -%>
<%- include header -%>
<form class="form__course" action="/course/add" method="POST">

    <label for="card.title">Название:</label>
    <input type="text" name="card.title" value="" placeholder="">

    <label for="card.description">Описание:</label>
    <input type="text" name="card.description" value="" placeholder="">

    <label for="card.tags">Тэг:</label>
    <input type="text" name="card.tags" value="" placeholder="">

    <input type="submit" name="name" value="Submit">

</form>

<%- include footer -%>
