<%- include base -%>
<%- include filter -%>
<div ng-app="userList">
    <div class="" ng-controller="userCtrl">
        <div class="" ng-repeat="user in userlist">
            <profile></profile>

        </div>

    </div>

</div>
<script src="js/app.js" charset="utf-8"></script>

<%- include footer -%>
