<%- include base -%>
<%- include filter -%>
<div >
    <!-- ГЕНЕРАТОР СПИСКА ПОЛЬЗОВТАЕЛЕЙ ГИТА -->
    <div ng-controller="userCtrl">
        <div ng-repeat="user in userlist">
            <profile></profile>
        </div>
    </div>
</div>
<%- include footer -%>
